.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}

  /* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
      display: none; 
  }
}

.content-main {
   position: relative;
   min-height: 1px;
   padding: 15px 50px;
   text-align: justify;
   line-height: 1.5;
}

.box-body {
	padding: 25px;
	background-image: url("test/Photo May 9, 3 04 20 PM.jpeg");
	border-radius: 1.5em;
}

.box-content {
    border: white 1px solid;
    padding: 20px;
    opacity: 0.6;
    background-color: white;
}

.heading {
	font-size: bold;
	padding: 10px 0;
}